
body {
  background: black;
  
}

.card-img-left {
 width: 55%;
  /* Link to your background image using in the property below! */
  background: scroll center url('img/fondo4.jpg');
  background-size: cover;
}

